<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Bienvenido a MISH market</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css">
</head>

<body class="index-page">
    <div>
        <h1>
            Bienvenido a MISH market
        </h1>
        <p>
            Donde podra comprar con tranquilidad!
        </p>

        <div class="form-container">
            <!-- Form remains correct: POST to /start -->
            <a th:href="@{/inicio}" class="btn">
                VAMOS!
                <span>&rarr;</span>
            </a>
        </div>
    </div>
</body>

</html>